@page "/Demo"
@inherits Component

<div class="product-card">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@imageUrl" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">@productName</h5>
            <p class="card-text">@productDescription</p>
            <a href="https://softprodigy.com/contact-us/" class="btn btn-primary">Contect-Us</a>
        </div>
    </div>
</div>

